/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .text h1 {
        font-size: 28px;;
    }

    .text p {
        font-size: 13px;
        margin: 16px 0;
    }

    .text a {
        font-size: 15px;
        background: linear-gradient(-270deg ,#FF8536,#FF0502);
        padding: 8px;
    }

    .txt {
        height: 58px;
        width: 180px;
        padding: 10px;
        transform: translate(32%,72%);
    }





























}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    .text h1 {
        font-size: 28px;;
    }

    .text p {
        font-size: 13px;
        margin: 16px 0;
    }

    .text a {
        font-size: 15px;
        background: linear-gradient(-270deg ,#FF8536,#FF0502);
        padding: 8px;
    }

    .txt {
        height: 58px;
        width: 180px;
        padding: 10px;
        transform: translate(32%,72%);
    }




























}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 767px) {

    .text h1 {
        font-size: 28px;;
    }

    .text p {
        font-size: 13px;
        margin: 16px 0;
    }

    .text a {
        font-size: 15px;
        background: linear-gradient(-270deg ,#FF8536,#FF0502);
        padding: 8px;
    }

    .txt {
        height: 58px;
        width: 180px;
        padding: 10px;
        transform: translate(32%,72%);
    }



























}